html,
body {
    margin: 0;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    border: 5px outset gray;
    display: flex;
    margin: 0 auto;
    background-color: white;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 20%;
    background-color: skyblue;
    padding: 10px 20px 0px;
}

.header {
    background-color: white;
    min-height: 75px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.column {
    padding: 10px;
    border: 1px solid #ccc;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: white;
    min-height: 150px;
}